.about__main-text {

& h3 {
  color: $primary;
}

& h4 {
  color: $primary;
  }
}

.about__grid {
  background-color: $primary;
}

.about__grid-item {
  & h6 {
    color: $white;
  }

  & p {
    color: $white;
  }
}