.contacts {
  background-color: $primary;
}

.contacts__wrapper {
  padding: 100px 0;

  @media screen and (width < 767px) {
    padding: 70px 0;

  }

  & h3 {
    color: $white;

    @media screen and (width < 1439px) {
      margin-bottom: 30px;
    }

    @media screen and (width < 767px) {
      margin-bottom: 35px;
    }
  }
}

.contacts__details {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media screen and (width < 1439px) {
    flex-direction: column;
    margin-bottom: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $white;
    top: 128px;
    opacity: 0.2;

    @media screen and (width < 1439px) {
      top: 166px;
    }

    @media screen and (width < 767px) {
      top: 286px;
    }
  }
}

.contacts__info {
  display: flex;
  gap: 52.5px;
  margin-left: auto;
  position: relative;

  @media screen and (width < 1439px) {
    margin-left: 0;
    gap: 0;
    justify-content: space-between;
  }

  @media screen and (width < 767px) {
    flex-direction: column;
    gap: 20px;
  }
}

.contacts__item {

  & p {
    display: flex;
    flex-direction: column;
  }
}

.contacts__item-header {
  color: $beige;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 24px;
  letter-spacing: 0.12px;

  @media screen and (width < 767px) {
    margin-bottom: 15px;
  }
}

.contacts__item-text {
  color: $white;
  font-size: 16px;
  line-height: 26px;
  max-width: 263px;

  @media screen and (width < 1439px) {
    line-height: 20px;
    max-width: 100%;
  }

  @media screen and (width < 767px) {
    font-size: 14px;
  }
}

.contacts__map {
  background-image:
  image-set(
    url("/img/map/map_desktop@1x.png") type("image/png") 1x,
    url("/img/map/map_desktop@2x.png") type("image/png") 2x,
    url("/img/map/map_desktop@1x.webp") type("image/webp") 1x,
    url("/img/map/map_desktop@2x.webp") type("image/webp") 2x,);
  width: 1240px;
  height: 486px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 82px;
  background-position: center center;

  @media screen and (width < 1439px)  {
    background-image:
    image-set(
    url("/img/map/map_tablet@1x.png") type("image/png") 1x,
    url("/img/map/map_tablet@2x.png") type("image/png") 2x,
    url("/img/map/map_tablet@1x.webp") type("image/webp") 1x,
    url("/img/map/map_tablet@2x.webp") type("image/webp") 2x,);
    width: 100%;
    height: 500px;
    margin-top: 60px;
  }

  @media screen and (width < 767px) {
    background-image:
    image-set(
      url("/img/map/map_mobile@1x.png") type("image/png") 1x,
      url("/img/map/map_mobile@2x.png") type("image/png") 2x,
      url("/img/map/map_mobile@1x.webp") type("image/webp") 1x,
      url("/img/map/map_mobile@2x.webp") type("image/webp") 2x,);
    width: 100%;
    height: 240px;
    margin-top: 62px;
  }
}
