.contacts {
  background-color: $primary;
}

.contacts__wrapper {
  padding: 100px 0;

  & h3 {
    color: $white;
  }
}

.contacts__details {
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  display: flex;
  gap: 52.5px;
  margin-left: auto;
}

.contacts__item {

  & p {
    display: flex;
    flex-direction: column;
  }
}

.contacts__item-header {
  color: $beige;
  text-transform: uppercase;
}

.contacts__item-text {
  color: $white;
  font-size: 16px;
  line-height: 26px;

  @media screen and (width < 1439px) {
    line-height: 20px;
  }

  @media screen and (width < 767px) {
    font-size: 14px;
  }
}

.contacts__item-header {
  margin-bottom: 24px;
}

.contacts__item-text {
  max-width: 263px;
}
