.faq-wrapper {
  padding: 71px 206px 60px;

  & h3 {
    color: $primary;
    text-align: center;
    margin-bottom: 60px;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq__details {
  position: relative;
  overflow: hidden;
  height: auto;
  padding: 45px 42px;
  border: 1px solid $primary;
  border-radius: 16px;
  color: $primary;
}

.faq__question {
  list-style-type: none;
  position: relative;

  & summary {
    display: list-item;
  }

  & span {
    font-size: 28px;
    line-height: 34px;
    display: flex;
    max-width: 894px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/sprite/plus-default.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    right: 0;
    top: -3px;
  }
}

.faq__answer {
  margin-top: 20px;
}

/* развернутое состояние */

.faq__details[open] {
  animation: open-details 4s;
  background-color: $primary;

  & .faq__question span {
    color: $white;
  }

  & .faq__question::before {
    position: absolute;
    content: "";
    background-image: url("../../img/sprite/minus-default.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    right: 0;
    top: -3px;
  }

  & .faq__answer {
    color: $beige;
  }
}

@keyframes open-details {
  0% {
    max-height: 80px;
  }

  100% {
    max-height: 500px;
  }
}
