.form {
  position: relative;
  z-index: 100;
}

.form__wrapper {
  position: relative;
  overflow: hidden;
  background-image:
    image-set(
    url("../../img/form/desktop@1x.png") type("image/png") 1x,
    url("../../img/form/desktop@2x.png") type("image/png") 2x,
    url("../../img/form/desktop@1x.webp") type("image/webp") 1x,
    url("../../img/form/desktop@2x.webp") type("image/webp") 2x);
  width: 1240px;
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  margin: 60px auto;
  background-position: center center;

  @media screen and (width < 1439px) {
    margin: 50px auto;
    background-image:
      image-set(
      url("../../img/form/tablet@1x.png") type("image/png") 1x,
      url("../../img/form/tablet@2x.png") type("image/png") 2x,
      url("../../img/form/tablet@1x.webp") type("image/webp") 1x,
      url("../../img/form/tablet@2x.webp") type("image/webp") 2x);
    width: 652px;
    height: 780px;
  }

  @media screen and (width < 767px) {
    margin: 40px auto;
    background-image:
      image-set(
      url("../../img/form/mobile@1x.png") type("image/png") 1x,
      url("../../img/form/mobile@2x.png") type("image/png") 2x,
      url("../../img/form/mobile@1x.webp") type("image/webp") 1x,
      url("../../img/form/mobile@2x.webp") type("image/webp") 2x);
    width: 320px;
    height: 753px;
  }
}

.form__container {
  position: absolute;
  background-color: $primary;
  padding: 44px 70px 40px;
  max-width: 490px;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 800px;
  border-radius: 16px;

  @media (width < 1439px) {
    max-width: 442px;
    height: 780px;
    padding: 41px 40px 36px;
  }

  @media (width < 767px) {
    max-width: 300px;
    height: 670px;
    padding: 15px 15px 27px;
    top: 43px;
    left: 10px;
  }

  h4 {
    color: $white;
    margin-bottom: 34px;

    @media (width < 1439px) {
      margin-bottom: 31px;
    }

    @media (width < 767px) {
      margin-bottom: 10px;
    }
  }

  p {
    color: $beige;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;

    @media (width < 1439px) {
      line-height: 20px;
    }

    @media (width < 767px) {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
}

.form__name,
.form__phone,
.form__city {
  display: flex;
  flex-direction: column;
  color: $beige;

  label {
    font-size: 14px;
    line-height: 18px;
    color: $beige08;
    margin-bottom: 12px;

    @media (width < 1439px) {
      line-height: 20px;
    }

    @media (width < 767px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  input {
    background-color: transparent;
    border: 1px solid #ffffff4d;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    padding: 14px 16px;
    color: $white;
    transition: border-color 0.3s ease;

    &:hover,
    &:focus {
      border-color: $white;
    }
  }
}

.form__message {
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    line-height: 18px;
    color: $beige;
    opacity: 0.8;
    margin-bottom: 12px;
  }

  textarea {
    width: 100%;
    min-height: 90px;
    padding: 14px 16px;
    border: 1px solid #ffffff4d;
    border-radius: 8px;
    background-color: transparent;
    color: $white;
    font-size: 14px;
    line-height: 1.4;
    resize: vertical;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    margin-bottom: 20px;

    &:focus,
    &:hover {
      border-color: $white;
    }
  }
}

/* city */
.form__city {
  select {
    background-color: transparent;
    border: 1px solid $white03;
    border-radius: 8px;
    height: 52px;
    margin-bottom: 20px;
    background: url("../../img/sprite/select.svg") no-repeat right 21px center;
    appearance: none;
    cursor: pointer;
    background-size: 16px;
  }
}

/* инпут */
.form__city .custom-select__button {
  background-color: $primary;
  width: 100%;
  padding: 16px 17px;
  border: 1px solid #ffffff4d;
  border-radius: 8px;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (width < 767px) {
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 15px 20px;
  }
}

.form__city .custom-select__button:hover,
.form__city .custom-select__button:focus,
.form__city .custom-select__button:active,
.form__city .custom-select--open .custom-select__button {
  border-color: $white;
}

/* выпадающий список */
.form__city .custom-select--open .custom-select__list {
  border-color: $white;
}

.form__city .custom-select__text {
  flex-grow: 1;
  text-align: left;
  font-size: 14px;
  line-height: 14px;
  color: $white;
}

/* чекбокс */
.form__checkbox {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  margin-top: 20px;

  @media (width < 767px) {
    margin-bottom: 20px;
  }

  label {
    font-size: 12px;
    line-height: 12px;
    color: $white;
    opacity: 0.8;

    @media (width < 767px) {
      line-height: 14px;
      max-width: 144px;
    }
  }

  input {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $white;
    position: relative;
    transition: all 0.2s ease;
    padding: 0;
    margin-right: 10px;

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 7px;
      width: 5px;
      height: 10px;
      border-right: 1px solid $primary;
      border-bottom: 1px solid $primary;
      transform: rotate(45deg) scale(0);
      transition: transform 0.2s ease;
      transform-origin: center;
    }

    &:checked::after {
      transform: rotate(45deg) scale(1);
    }
  }
}

.form__button {
  & span {
    margin: 0 auto;
  }
}
