.grant {
  background-color: $primary;
  color: $white;

  & p {
    font-size: 16px;
    line-height: 26px;
  }
}

.grant__wrapper {
  display: flex;
  gap: 138px;
  padding-top: 120px;
  padding-bottom: 100px;
  // padding-left: 100px;
  justify-content: center;
  // justify-content: flex-start;

  @media screen and (width < 1439px) {
    flex-direction: column;
    gap: 40px;
    padding-top: 100px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media screen and (width < 767px) {
    gap: 30px;
    padding: 70px 15px;
  }

  h3 {
    margin-bottom: 30px;

    @media screen and (width < 1439px) {
      align-self: flex-start;
    }

    @media screen and (width < 767px) {
      margin-bottom: 15px;
    }
  }

  h4 {
    margin-bottom: 40px;

    @media screen and (width < 1439px) {
      margin-bottom: 35px;
    }

    @media screen and (width < 767px) {
      margin-bottom: 25px;
    }
  }

  span {
    color: $beige;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
    padding: 0;

    @media screen and (width < 1439px) {
      align-self: flex-start;
    }

    @media screen and (width < 767px) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 30px;
    }
  }

  .grant__list {
    display: grid;
    gap: 23px;
    list-style: none;
    counter-reset: feature;
    padding-left: 20px;

    @media screen and (width < 1439px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 48px;
      row-gap: 25px;
    }

    @media screen and (width < 767px) {
      grid-template-columns: 1fr;
      row-gap: 15px;
      padding-left: 15px;
    }
  }
}

.grant__col-left,
.grant__col-right {
  display: flex;
  flex-direction: column;
  max-width: 498px;

  @media screen and (width < 1439px) {
    max-width: 100%;
  }
}

.grant__col-left {
  @media screen and (width < 1439px) {
    align-items: center;
  }
}

.grant__item {
  position: relative;
  border: 1px solid $beige;
  border-radius: 16px;
  color: $beige;
  padding: 31px 26px;

  @media screen and (width < 767px) {
    padding: 25px 26px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: $primary;
    border-radius: 50%;
    top: -20px;
    left: -20px;

    @media screen and (width < 767px) {
      width: 32px;
      height: 32px;
      top: -10px;
      left: -10px;
    }
  }

  &::after {
    position: absolute;
    content: counter(feature) "";
    counter-increment: feature;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    color: $white;
    top: -10px;
    left: -4px;

    @media screen and (width < 767px) {
      font-size: 18px;
      line-height: 18px;
      top: -3px;
      left: -3px;
    }
  }
}
