.grant {
  background-color: $primary;
  color: $white;

  & p {
    font-size: 16px;
    line-height: 26px;
  }
}

.grant-wrapper {
  padding: 120px 0;
  display: grid;
  grid-template-columns: 498px 498px;
  column-gap: 138px;

  h3 {
  grid-column: 1 / 2;
  grid-row: 1;
  margin-bottom: 30px;
  }

  h4 {
    grid-column: 2 / 3;
    grid-row: 1;
    margin-bottom: 40px;
  }

  span {
    grid-column: 1 / 2;
    grid-row: 2;
    color: $beige;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
    padding: 0;
  }

  .grant__list {
    grid-column: 2 / 3;
    grid-row: 2;
    display: grid;
    gap: 23px;
    list-style: none;
  }
}

.grant__image {
  width: 498px;
  height: 363px;
}

.grant__item {
  position: relative;
  border: 1px solid $beige;
  border-radius: 16px;
  color: $beige;
  padding: 31px 26px;

  &::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: $primary;
    border-radius: 50%;
    top: -20px;
    left: -20px;   
  }

  &::after {
    position: absolute;
    content: counter(feature);
    counter-increment: feature;
    font-size: 22px;
    line-height: 22px;
    color: $white;
    top: -10px;
    left: -4px;   
  }
}