.hero {
  position: relative;
}

// header
.hero__header {
  position: absolute;
  width: 100%;
}

.hero__header-wrapper {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding-top: 30px;
  width: 100%;
  position: relative;

  @media screen and (width < 767px) {
    padding-top: 21px;
  }
}

.hero__nav {
  position: absolute;
  top: 100%;
  overflow: hidden;
  width: 286px;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.4s ease,
    opacity 0.3s ease;
  z-index: 10;
  background-color: $primary;
  border-radius: 16px;
  right: 0;
  top: 90px;

  @media (width < 767px) {
    width: 290px;
  }
}

.hero__header-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: $white;
  border: 1px solid $primary;
  border-radius: 50px;
  padding:  4px 4px 4px 20px;
  transition: all 0.3s ease;

  span {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    color: $primary;
    letter-spacing: 0.2px;
    margin-right: 20px;
  }
}

.hero__header-toggle .toggle-icon {
  width: 46px;
  height: 46px;
}

.hero .nav--opened {
  max-height: 1000px;
  opacity: 1;
}

.hero__header:has(.nav--opened) .hero__header-toggle {
  width: 286px;
  background-color: $primary;

  span {
    color: $white;
  }

  @media (width < 767px) {
    width: 290px;
  }
}

.hero__header:has(.nav--opened) .hero__header-logo {
  @media (width < 767px) {
    display: none;
  }
}

.hero__nav-list {
  margin: 0;
  padding: 0;
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.hero__nav-item {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: $white;
  opacity: 0.7;

  &:hover,
  &:focus,
  &:active {
    opacity: 100%;
  }
}

// submenu
.hero__nav-sublist {
  position: relative;
}

.hero__nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.hero__nav-toggle-icon {
  color: $white07;
  transition: transform 0.3s ease, color 0.3s ease;
  margin-left: 8px;
  margin-bottom: 2px;
}

.hero__nav-toggle--open .hero__nav-toggle-icon {
  transform: rotate(180deg);
  color: $white;
}

.hero__nav-sublist {
  gap: 16px;
  margin-left: 16px;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.3s ease-in-out;
}

.hero__nav-sublist--open {
  display: block;
  max-height: 500px;
  visibility: visible;
}

.hero__nav-subitem {
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 16px;
  color: $white06;
  cursor: pointer;
  transition: color 0.3s ease;

  .submenu__list--open & {
    opacity: 1;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white09;
  }
}

.hero__nav-subitem:first-child {
  margin-top: 20px;
}

.hero__nav-subitem:last-child {
  margin-bottom: 0;
}

// слайдер
.hero .slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;

  @media screen and (width < 1439px)  {
    min-height: 1024px;
  }

  @media screen and (width < 767px) {
    min-height: 568px;
  }
}

.hero .slides-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.hero .slide {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  min-height: 800px;
  flex-shrink: 0;

  @media screen and (width < 1439px) {
    min-height: 1024px;
  }

  @media screen and (width < 767px) {
    min-height: 568px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: rgba(49, 109, 194, 0.2);
  }
}

.hero .slide--one {
  background-image:
  image-set(
    url("../../img/hero/slide_1-desktop@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_1-desktop@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_1-desktop@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_1-desktop@2x.webp") type("image/webp") 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;

  @media screen and (width < 1439px) {
    background-image:
    image-set(
    url("../../img/hero/slide_1-tablet@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_1-tablet@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_1-tablet@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_1-tablet@2x.webp") type("image/webp") 2x
    );
  }

  @media screen and (width < 767px) {
    background-image:
    image-set(
    url("../../img/hero/slide_1-mobile@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_1-mobile@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_1-mobile@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_1-mobile@2x.webp") type("image/webp") 2x
    );
  }
}

.hero .slider__pagination {
  position: absolute;
  z-index: 3;
  background-color: $white;
  width: 120px;
  height: 40px;
  left: 100px;
  bottom: 366px;
  border-radius: 20px 20px 0 0;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../../img/sprite/angle-pagination.svg");
    top: 20px;
    left: 120px;
  }
}

.hero .slide__content-heading {
  display: flex;
  justify-content: space-between;
  position: absolute;
  max-width: 968px;
  left: 100px;
  bottom: 173px;
  background-color: $white;
  padding: 40px 50px 30px;
  border-radius: 0 30px 30px 0;

    h2 {
    color: $primary;
  }
}

.hero .slide__content-text {
  display: flex;
  justify-content: space-between;
  position: absolute;
  max-width: 775px;
  left: 100px;
  bottom: 61px;
  background-color: $white;
  padding: 0 50px 35px;
  border-radius: 0 0 30px 30px;
  
  p {
    font-size: 16px;
    line-height: 26px;
    color: $dark;
    max-width: 446px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url("../../img/sprite/angle-text.svg");
    top: 0;
    left: 744px;
  }
}

.hero .slide__button {
  margin: auto;
}

