.hero {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow: hidden;
}

// header
.hero__header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  top: 30px;
  width: 100%;
  padding: 0 100px;
}

.hero__header-toggle {
  display: flex;
  align-items: center;
  border: 1px solid $primary;
  border-radius: 50px;
  background-color: $white;
  padding: 4px 4px 4px 20px;
  transition: width 0.3s ease;
  width: 134px;

  & span {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    color: $primary;
    letter-spacing: 0.2px;
    margin-right: 20px;
  }

  &--open {
    width: 286px;
  }
}

.hero .main__nav {
  position: absolute;
  top: 100%;
  overflow: hidden;
  width: 286px;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.4s ease,
    opacity 0.3s ease;
  z-index: 10;
  background-color: $primary;
  border-radius: 16px;
  right: 100px;
  top: 58px;
}

.hero .main__nav--opened {
  max-height: 1000px;
  opacity: 1;
}

.hero__header-toggle--close {
  background-color: $primary;

  & span {
    color: $white;
    letter-spacing: 0.2px;
    margin-right: 172px;
  }
}

.hero .main__nav-list {
  margin: 0;
  padding: 0;
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.hero .main__nav-item {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: $white;
  opacity: 0.7;

  &:hover,
  &:focus,
  &:active {
    opacity: 100%;
  }
}

.hero .program__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.hero .program__list--opened {
  max-height: 500px;
}

.hero .program__list-item {
  letter-spacing: 0;
  text-transform: none;
}


// слайдер
.hero__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hero .slides-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.hero .slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: relative;
}

.hero .slide__image-container {
  position: absolute;
  inset: 0;
  z-index: 1;

  picture, img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

    &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 109, 194, 0.2);
  }
}

.hero .slide__content-container {
  position: absolute;
  z-index: 3;
  max-width: 968px;
  left: 100px;
  bottom: 60px;
  background-color: $white;
  padding: 20px;
  border-radius: 30px;


  h2 {
    color: $primary;
    max-width: 868px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
    color: $dark;
    max-width: 446px;
  }
}

.hero .slide__content-container-frame {
  display: flex;
  justify-content: space-between;
  max-width: 772px;
}

.hero .slide__button {
  margin-top: 10px;
  margin-bottom: 10px;
}
