.hero {
  position: relative;
}

// header
.hero__header {
  position: relative;
}

.hero__header-wrapper {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding-top: 30px;
  width: 100%;
}

.hero__nav {
  position: absolute;
  top: 100%;
  overflow: hidden;
  width: 286px;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.4s ease,
    opacity 0.3s ease;
  z-index: 10;
  background-color: $primary;
  border-radius: 16px;
  right: 100px;
  top: 90px;

  @media (width < 1439px) {
    right: 45px;
  }

  @media (width < 767px) {
    right: 15px;
    width: 290px;
  }
}

.hero__header-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: $white;
  border: 1px solid $primary;
  border-radius: 50px;
  padding:  4px 4px 4px 20px;
  transition: all 0.3s ease;

  span {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    color: $primary;
    letter-spacing: 0.2px;
    margin-right: 20px;
  }
}

.hero__header-toggle .toggle-icon {
  width: 46px;
  height: 46px;
}

.hero .nav--opened {
  max-height: 1000px;
  opacity: 1;
}

.hero__header:has(.nav--opened) .hero__header-toggle {
  width: 286px;
  background-color: $primary;

  span {
    color: $white;
  }
}

.hero .nav__list {
  margin: 0;
  padding: 0;
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.hero .nav__item {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: $white;
  opacity: 0.7;

  &:hover,
  &:focus,
  &:active {
    opacity: 100%;
  }
}

// submenu
.hero .nav__item--submenu {
  position: relative;
}

.hero .submenu-toggle {
  background: none;
  border: none;
  cursor: pointer;

  .submenu-toggle-icon {
    color: $white07;
    transition: transform 0.3s ease, color 0.3s ease;
    margin-left: 8px;
    margin-bottom: 2px;
  }

  &.submenu-toggle--open .submenu-toggle-icon {
    transform: rotate(180deg);
    color: $white;
  }
}

.hero .submenu__list {
  gap: 16px;
  margin-left: 16px;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.3s ease-in-out;
}

.hero .submenu__list--open {
  display: block;
  max-height: 500px;
  visibility: visible;
}

.hero .submenu__item {
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 16px;
  color: $white06;
  cursor: pointer;
  transition: color 0.3s ease;

  .submenu__list--open & {
    opacity: 1;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white09;
  }
}

.hero .submenu__item:first-child {
  margin-top: 20px;
}

.hero .submenu__item:last-child {
  margin-bottom: 0;
}

// слайдер
.hero .slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  min-height: 800px;
  width: 100%;

  @media screen and (width < 1439px)  {
    min-height: 1024px;
  }

  @media screen and (width < 767px) {
    min-height: 568px;
  }
}

.hero .slides-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.hero .slide {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  flex-shrink: 0;
}

.hero .slide__image-container {
  // position: absolute;
  // inset: 0;
  // z-index: 1;

  // picture, img {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }

  //   &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(49, 109, 194, 0.2);
  // }
}

.hero .slide--one {
  background-image:
  image-set(
    url("../../img/hero/slide_1-desktop@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_1-desktop@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_1-desktop@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_1-desktop@2x.webp") type("image/webp") 2x,);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;

  // @media screen and (width < 1439px) {
  //   image-set(
  //     url("/img/slider/slide_1-tablet@1x.jpg") type("image/jpeg") 1x, url("/img/slider/slide_1-tablet@2x.jpg") type("image/jpeg") 2x,
  //     url("/img/slider/slide_1-tablet@1x.webp") type("image/webp") 1x, url("/img/slider/slide_1-tablet@2x.webp") type("image/webp") 2x,);
  // }

  // @media screen and (width < 767px) {
  //   image-set(
  //     url("/img/slider/slide_1-mobile@1x.jpg") type("image/jpeg") 1x, url("/img/slider/slide_1-mobile@2x.jpg") type("image/jpeg") 2x,
  //     url("/img/slider/slide_1-mobile@1x.webp") type("image/webp") 1x, url("/img/slider/slide_1-mobile@2x.webp") type("image/webp") 2x,);
  // }
}

.hero .slide__content-container {
  position: absolute;
  z-index: 3;
  max-width: 968px;
  left: 100px;
  bottom: 60px;
  background-color: $white;
  padding: 40px 50px 35px;
  border-radius: 30px;


  h2 {
    color: $primary;
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
    color: $dark;
    max-width: 446px;
  }
}

.hero .slide__content-container-frame {
  display: flex;
  justify-content: space-between;
  max-width: 672px;
}

.hero .slide__button {
  margin-top: 10px;
  margin-bottom: 10px;
}
