.news {
  position: relative;
  display: flex;
  overflow-x: hidden;

& .container {
  @media (max-width: 767px) {
    max-width: 320px;
  }
 }
}



.news__wrapper {
  padding: 60px 0;
  overflow-x: hidden;

  @media screen and (width < 1439px) {
    padding: 50px 0;
  }
}

// ХЭДЕР (tabs)
.news__header {
  margin-bottom: 40px;
  overflow-x: hidden;

  @media screen and (width < 1439px) {
    margin-bottom: 30px;
  }

  @media screen and (width < 767px) {
    margin-bottom: 24px;
  }

  h3 {
    color: $primary;
    margin-bottom: 40px;
    text-align: center;

    @media screen and (width < 1439px) {
      margin-bottom: 30px;
    }

    @media screen and (width < 767px) {
      margin-bottom: 24px;
    }
  }
}

.news__tabs-outer {
  @media (max-width: 767px) {
    width: 100vw;
    margin-left: 15px;
    margin-right: 0;
  }
}

.news__tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 767px) {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    gap: 9px;
  }

  .news__tabs::-webkit-scrollbar {
    display: none;
  }
}

.news__tab {
  padding: 14px 33px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: $primary;
  opacity: 0.6;
  letter-spacing: 0.28px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;

  @media screen and (width < 1439px) {
    padding: 14px 21px;
  }

  @media screen and (width < 767px) {
    padding: 10px 14px;
    font-size: 12px;
    line-height: 12px;
  }

  &.active {
    border-color: $primary;
  }
}

// ФУТЕР
.news__footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  @media screen and (width < 767px) {
    margin: 0 15px;
  }
}

.news__pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative !important;
}

.news__button--prev {
  left: 0;
}

.news__button--next {
  right: 0;
}

.news .swiper-pagination-bullet {
  background-color: transparent;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $primary;
  opacity: 0.5;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;

  @media screen and (width < 767px) {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    width: 26px;
    height: 26px;
  }

  &.active {
    background-color: $primary;
    color: $white;
    opacity: 1;
  }
}

// КАРТОЧКА С ФОТО И ТЕКСТОМ
.news-card {
  display: flex;
  flex-direction: column;
  height: auto;
}

.news-card__image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  flex-shrink: 0;

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.news-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-card__content-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

// СВАЙПЕР
.swiper.news__swiper {
  width: 100%;
  align-items: center;
  margin-bottom: 40px;

  @media screen and (width < 767px) {
    margin-bottom: 24px;
  }
}

@media screen and (width < 1439px) {
  .news__swiper {
    .swiper-wrapper {
      display: grid !important;
      grid-template-columns: repeat(2, 324px);
      grid-auto-rows: 350px;
      gap: 30px !important;
      transform: none !important;
    }
  }
}

@media screen and (width < 767px) {
  .news__swiper {
    .swiper-wrapper {
      display: grid !important;
      grid-template-columns: 1fr;
      grid-auto-rows: 330px;
      gap: 20px !important;
      transform: none !important;
      height: 590px !important;
    }

    .news__list .swiper-slide:nth-child(n + 3) {
      display: none !important;
    }

    .swiper-slide {
      width: 290px !important;
      margin: 0 auto;
    }

    .swiper-slide:nth-child(1) {
      height: 330px !important;
    }

    .swiper-slide:nth-child(2) {
      height: 240px !important;
    }

    .swiper-slide:nth-child(n + 3) {
      height: auto !important;
    }
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  /* большая карточка слева*/
  .swiper-slide-active .news-card__image-wrapper {
    width: 604px;
    height: 400px;
  }

  /* миниатюры */
  .swiper-slide:not(.swiper-slide-active) .news-card__image-wrapper {
    width: 286px;
    height: 400px;
  }
}

/* TABLET */
@media screen and (width < 1439px) {
  .news-card__image-wrapper {
    width: 324px;
    height: 350px;
  }
}

/* MOBILE */
@media screen and (width < 767px) {
  .news-card__image-wrapper {
    width: 290px;
  }

  .news-card:nth-child(1) .news-card__image-wrapper {
    height: 330px;
  }

  .news-card:nth-child(2) .news-card__image-wrapper {
    height: 240px;
  }
}
