.news {
  position: relative;
  display: flex;
  overflow-x: hidden;
}

.news__wrapper {
  padding: 60px 0;
  overflow-x: hidden;

  @media screen and (width < 1439px) {
    padding: 50px 0;
  }
}

.news__header {
  margin-bottom: 40px;
  overflow-x: hidden;

  @media screen and (width < 1439px) {
    margin-bottom: 30px;
  }

  @media screen and (width < 767px) {
    margin-bottom: 24px;
  }

  h3 {
    color: $primary;
    margin-bottom: 40px;
    text-align: center;

    @media screen and (width < 1439px) {
      margin-bottom: 30px;
    }

    @media screen and (width < 767px) {
      margin-bottom: 24px;
    }
  }
}

.news__tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media screen and (width < 767px) {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;

  -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
  }

  .news__tabs::-webkit-scrollbar {
    display: none;
  }
}

.news__tab {
  padding: 16px 26px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $primary;
  opacity: 0.6;
  letter-spacing: 0.28px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;

  @media screen and (width < 1439px) {
    padding: 16px 22px;
  }

  @media screen and (width < 767px) {
    padding: 12px 16px;
  }
}

.news__footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.news__pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative !important;
}

.news__button--prev {
  left: 0;
}

.news__button--next {
  right: 0;
}

.news .swiper-pagination-bullet {
  background-color: $primary;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.swiper.news__swiper {
  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  .swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease;
  }

  .swiper-slide {
    flex-shrink: 0;
    transition: width 0.3s ease, height 0.3s ease;
  }

  .news__swiper {
    .swiper-wrapper {
      gap: 32px;
    }

    .swiper-slide {
      width: 286px !important;
      height: 400px !important;
    }

    .swiper-slide-active {
      width: 604px !important;
      height: 400px !important;
    }
  }
}

@media screen and (width < 1439px) {
  .news__swiper {
    .swiper-wrapper {
      display: grid !important;
      grid-template-columns: repeat(2, 324px);
      grid-auto-rows: 350px;
      gap: 30px !important;
      transform: none !important;
    }

    .swiper-slide {
      width: 324px !important;
      height: 350px !important;
    }

    .swiper-slide-active {
      width: 324px !important;
      height: 350px !important;
    }
  }
}

@media screen and (width < 767px){
  .news__swiper {
    .swiper-wrapper {
      display: grid !important;
      grid-template-columns: 1fr;
      gap: 20px !important;
      transform: none !important;
    }

    .news__list .swiper-slide:nth-child(n + 3) {
      display: none !important;
    }

    .swiper-slide {
      width: 290px !important;
      margin: 0 auto;
    }

    .swiper-slide:nth-child(1) {
      height: 330px !important;
    }

    .swiper-slide:nth-child(2) {
      height: 240px !important;
    }

    .swiper-slide:nth-child(n + 3) {
      height: auto !important;
    }
  }
}

.news-card {
  display: flex;
  flex-direction: column;
  height: auto;
}

.news-card__image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  flex-shrink: 0;

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.news-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-card__content-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  /* большая карточка слева*/
  .swiper-slide-active .news-card__image-wrapper {
    width: 604px;
    height: 400px;
  }

  /* миниатюры */
  .swiper-slide:not(.swiper-slide-active) .news-card__image-wrapper {
    width: 286px;
    height: 400px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .news-card__image-wrapper {
    width: 324px;
    height: 350px;
  }
}

/* MOBILE */
@media screen and (max-width: 767px) {
  .news-card__image-wrapper {
    width: 290px;
  }

  .news-card:nth-child(1) .news-card__image-wrapper {
    height: 330px;
  }

  .news-card:nth-child(2) .news-card__image-wrapper {
    height: 240px;
  }
}
