.popup__container {
  position: relative;
  background-color: $white;
  padding: 60px 80px;
  max-width: 510px;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 649px;
  border-radius: 16px;
  margin: 0 auto;

  @media (width < 1439px) {
    height: 640px;
  }

  @media (width < 767px) {
    max-width: 290px;
    height: 531px;
    padding: 40px 15px;
  }

  h4 {
    color: $primary;
    margin-bottom: 20px;
    text-align: center;

    @media (width < 1439px) {
      margin-bottom: 20px;
    }

    @media (width < 767px) {
      margin-bottom: 15px;
      line-height: 18px;
    }
  }

  p {
    color: $dark;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;

    @media (width < 1439px) {
      line-height: 20px;
    }

    @media (width < 767px) {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }
}

.popup__name,
.popup__phone,
.popup__city {
  display: flex;
  flex-direction: column;

  & label {
    font-size: 14px;
    line-height: 18px;
    color: $dark;
    margin-bottom: 12px;

    @media (width < 1439px) {
      line-height: 20px;
    }

    @media (width < 767px) {
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 8px;
    }
  }

  & input {
    background-color: transparent;
    border: 1px solid #4848484D;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 50px;

    @media (width < 767px) {
      height: 44px;
      margin-bottom: 15px;
    }
  }
}

.popup__city {
  & select {
    background-color: transparent;
    border: 1px solid #4848484D;;
    border-radius: 8px;
    height: 52px;
    margin-bottom: 20px;
    background: url("../../img/sprite/popup-select.svg") no-repeat right 21px center;
    appearance: none;
    cursor: pointer;
    background-size: 16px;

    @media (width < 767px) {
      height: 44px;
      margin-bottom: 15px;
    }
  }
}

.popup__checkbox {
  margin-bottom: 30px;
  display: flex;
  align-items: center;


  @media (width < 767px) {
    margin-bottom: 25px;
  }

  & label {
    font-size: 12px;
    line-height: 12px;
    color: $dark;
    opacity: 0.9;

    @media (width < 767px) {
      line-height: 14px;
    }
  }

  & input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $primary;
    cursor: pointer;
    transition: all 0.2s ease;
    flex-shrink: 0;
    line-height: 0;
    vertical-align: middle;
  }
}

.popup__button {
  margin: 0 auto;

  @media (width < 767px) {
    margin: 0;
    height: 42px;
  }

  span {
    margin: 0 auto;
  }
}
