.popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(13, 29, 51, 0.3);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
  z-index: 1000;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.popup--active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.popup-toggle {
  position: absolute;
  display: flex;
  top: 30px;
  right: 30px;
  width: 22px;
  height: 22px;
  padding: 2px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;

  @media screen and (width < 767px) {
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.popup-toggle .toggle-icon {
  pointer-events: none;
  width: 18px;
  height: 18px;

  @media screen and (width < 767px) {
    width: 12px;
    height: 12px;
  }
}

.no-scroll {
  overflow: hidden;
}

.popup__container {
  position: relative;
  background: #ffffff;
  border-radius: 16px;
  padding: 60px 80px;
  max-width: 510px;
  margin-top: 90px;
  transform: translateY(30px);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;

  @media screen and (width < 1439px) {
    margin-top: 204px;
  }

  @media screen and (width < 767px) {
    margin: 23px 15px;
    padding: 40px 15px;
  }

  h4 {
    margin-bottom: 20px;
    color: $primary;
    text-align: center;

    @media screen and (width < 767px) {
      line-height: 18px;
      margin-bottom: 15px;
    }
  }

  p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 30px;
    color: $dark;

    @media screen and (width < 767px) {
      line-height: 20px;
      font-size: 14px;
      margin-bottom: 25px;
    }
  }

  label {
    font-size: 14px;
    line-height: 18px;
    color: $dark;
    opacity: 0.8;
  }

  input {
    width: 100%;
    padding: 16px 25px;
    font-size: 16px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-top: 12px;
    margin-bottom: 20px;

    @media screen and (width < 767px) {
      padding: 15px 25px;
      margin-top: 8px;
      margin-bottom: 15px;
    }
  }
}

.popup--active .popup__container {
  transform: translateY(0);
  opacity: 1;
}

.popup__input:focus,
.popup__city-list:focus {
  border-color: #007bff;
}

.popup__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0 auto;

  @media screen and (width < 767px) {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    margin: 0;
  }
}

.popup__button-text {
  text-align: center;

  @media screen and (width < 767px) {
      width: 100%;
      text-align: center;
    }
}

.custom-select {
  position: relative;
  width: 100%;
}

/* инпут */
.custom-select__button {
  width: 100%;
  padding: 16px 17px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  background-color: #fff;
  color: $dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
  margin-top: 12px;
  margin-bottom: 20px;

  @media screen and (width < 767px) {
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 15px 20px;
  }
}

.custom-select__button:hover,
.custom-select__button:focus,
.custom-select__button:active,
.custom-select--open .custom-select__button {
  border: 1px solid $dark;
}

.custom-select__text {
  flex-grow: 1;
  text-align: left;
  font-size: 14px;
  line-height: 14px;
  color: $dark;
}

/* стрелка */
.custom-select__arrow {
  flex-shrink: 0;
  pointer-events: none;
  color: $dark;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.custom-select--open .custom-select__arrow {
  transform: rotate(180deg);
}

/* выпадающий список */
.custom-select__list {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  max-height: calc(4 * 40px);
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  z-index: 1000;
}

.custom-select__item {
  padding: 10px 14px;
  font-size: 14px;
  line-height: 14px;
  color: $dark;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-select__item:hover {
  background-color: $primary;
  color: $white;
}

/* opened */
.custom-select--open .custom-select__list {
  display: block;
  border: 1px solid $dark;
}

/* чекбокс */
.popup__checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0 30px;

  @media screen and (width < 767px) {
    margin: 15px 0 25px;
  }

  label {
    font-size: 12px;
    color: $dark;
    opacity: 0.9;
    line-height: 12px;
    font-size: 12px;
    cursor: pointer;
  }

  input {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $primary;
    position: relative;
    transition: all 0.2s ease;
    padding: 0;
    margin: 0;

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 7px;
      width: 5px;
      height: 10px;
      border-right: 1px solid $white;
      border-bottom: 1px solid $white;
      transform: rotate(45deg) scale(0);
      transition: transform 0.2s ease;
      transform-origin: center;
    }
  }
}

.popup__checkbox input:checked::after {
  transform: rotate(45deg) scale(1);
}
