.programs {
  position: relative;
  display: flex;
}

.programs__wrapper {
  padding: 60px 0;

  @media screen and (width < 1439px) {
    padding: 50px 0;
  }

  @media screen and (width < 767px) {
    padding: 50px 0;
  }
}

.programs__header {
  display: flex;
  justify-content: space-between;
  color: $primary;
  margin-bottom: 40px;

  @media screen and (width < 767px) {
    margin-bottom: 30px;
  }
}

.swiper.programs__swiper {
  display: flex;
  height: 420px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  border-radius: 12px;

  @media screen and (width < 767px) {
    height: 400px;
    margin-bottom: 30px;
  }
}

.programs__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.programs__list-item {
  border-radius: 12px;
}

.programs__pagination-progressbar {
  position: relative !important;
  width: calc(100% - 104px) !important;
}

.programs__pagination-progressbar .swiper-pagination-progressbar-fill {
  background: $primary;
  height: 100%;
  transform-origin: left top;
  display: block;
}
