.programs {
  position: relative;
}

.programs__wrapper {
  padding: 60px 0;

  @media screen and (width < 1439px) {
    padding: 50px 0;
  }

  @media screen and (width < 767px) {
    padding: 15px 0;
  }
}

.programs__header {
  display: flex;
  justify-content: space-between;
  color: $primary;
  margin-bottom: 40px;
}

.swiper.programs__swiper {
  position: relative;
  display: flex;
  height: 420px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  border-radius: 12px;
}

.programs__footer {
  display: flex;
  justify-content: space-between;
}

.programs__list-item {
  border-radius: 12px;
}
