.reviews {
  position: relative;
  padding: 1px 0;
}

.reviews__wrapper {
  padding: 60px 0;

  @media screen and (width < 1439px) {
    padding: 50px 0;
  }

  // h3 {
  //   color: $primary;
  //   margin-bottom: 40px;
  // }
}

.reviews__header {
  h3 {
    color: $primary;
    margin-bottom: 40px;
  }

  @media screen and (width < 767px) {
    display: flex;
    justify-content: space-between;
  }
}

.swiper.reviews__swiper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.reviews__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__pagination {
  position: relative !important;
  width: calc(100% - 104px) !important;
}

.reviews__pagination .swiper-pagination-progressbar-fill {
  background: $primary;
  height: 100%;
  transform-origin: left top;
  display: block;
}
