.slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.slides-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  min-height: 800px;
  flex-shrink: 0;

  @media screen and (width < 1439px) {
    min-height: 1024px;
  }

  @media screen and (width < 767px) {
    min-height: 568px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: rgba(49, 109, 194, 0.2);
  }
}

.slide--one {
  background-image:
  image-set(
    url("../../img/hero/slide_1-desktop@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_1-desktop@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_1-desktop@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_1-desktop@2x.webp") type("image/webp") 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;

  @media screen and (width < 1439px) {
    background-image:
    image-set(
    url("../../img/hero/slide_1-tablet@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_1-tablet@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_1-tablet@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_1-tablet@2x.webp") type("image/webp") 2x
    );
  }

  @media screen and (width < 767px) {
    background-image:
    image-set(
    url("../../img/hero/slide_1-mobile@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_1-mobile@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_1-mobile@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_1-mobile@2x.webp") type("image/webp") 2x
    );
  }
}

.slide--two {
  background-image:
  image-set(
    url("../../img/hero/slide_2-desktop@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_2-desktop@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_2-desktop@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_2-desktop@2x.webp") type("image/webp") 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;

  @media screen and (width < 1439px) {
    background-image:
    image-set(
    url("../../img/hero/slide_2-tablet@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_2-tablet@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_2-tablet@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_2-tablet@2x.webp") type("image/webp") 2x
    );
  }

  @media screen and (width < 767px) {
    background-image:
    image-set(
    url("../../img/hero/slide_2-mobile@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_2-mobile@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_2-mobile@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_2-mobile@2x.webp") type("image/webp") 2x
    );
  }
}

.slide--three {
  background-image:
  image-set(
    url("../../img/hero/slide_3-desktop@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_3-desktop@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_3-desktop@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_3-desktop@2x.webp") type("image/webp") 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;

  @media screen and (width < 1439px) {
    background-image:
    image-set(
    url("../../img/hero/slide_3-tablet@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_3-tablet@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_3-tablet@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_3-tablet@2x.webp") type("image/webp") 2x
    );
  }

  @media screen and (width < 767px) {
    background-image:
    image-set(
    url("../../img/hero/slide_3-mobile@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_3-mobile@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_3-mobile@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_3-mobile@2x.webp") type("image/webp") 2x
    );
  }
}

.slide__content {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 58px;
  left: 100px;
  max-width: 968px;

  @media screen and (width < 1439px) {
    left: 45px;
    max-width: 659px;
  }

  @media screen and (width < 767px) {
    left: 15px;
    bottom: 20px;
    max-width: 290px;
  }

  &::after {
    content: "";
    width: 26px;
    height: 26px;
    background-image: url("../../img/sprite/angle-2.svg");

    @media screen and (width < 767px) {
      width: 10px;
      height: 10px;
      background-image: url("../../img/sprite/angle-5.svg");
      order: 2;
    }
  }
}

.slider__pagination {
  position: absolute;
  z-index: 3;
  width: 120px;
  height: 40px;
  bottom: 365px;
  left: 100px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;

  @media screen and (width < 1439px) {
    width: 100px;
    bottom: 335px;
    left: 45px;
  }

  @media screen and (width < 767px) {
    width: 80px;
    height: 28px;
    border-radius: 12px 12px 0 0;
    left: 15px;
    bottom: 339px;
  }
}

.slider__pagination-bg {
  // position: absolute;
  width: 120px;
  height: 40px;
  bottom: 365px;
  left: 100px;
  background-color: $white;
  border-radius: 20px 20px 0 0;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;

  @media screen and (width < 1439px) {
    width: 100px;
    bottom: 332px;
    left: 45px;
  }

  @media screen and (width < 767px) {
    width: 80px;
    height: 28px;
    border-radius: 12px 12px 0 0;
    left: 15px;
    bottom: 339px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../../img/sprite/angle-1.svg");
    top: 20px;
    left: 120px;

    @media screen and (width < 1439px) {
      left: 99px;
    }

    @media screen and (width < 767px) {
      background-image: url("../../img/sprite/angle-3.svg");
      width: 10px;
      height: 10px;
      top: 18px;
      left: 79px;
    }
  }
}

.slider__pagination-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  @media screen and (width < 767px) {
    width: 8px;
    height: 8px;
  }
}

.slider__pagination-bullet-inslide {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid $primary;
  cursor: pointer;
  position: relative;

  @media screen and (width < 767px) {
    width: 8px;
    height: 8px;
  }
}

.slider__pagination-bullet--selected {
  background-color: $primary;
}

.slide__content-heading {
  flex-grow: 1;
  background-color: $white;
  padding: 40px 50px 30px;
  border-radius: 0 30px 30px 0;

  @media screen and (width < 1439px) {
    padding: 30px 69px 24px 40px;
  }

  @media screen and (width < 767px) {
    padding: 20px 15px 16px 14px;
    border-radius: 0 16px 16px 0;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../../img/sprite/angle-4.svg");
      width: 8px;
      height: 10px;
      left: 267px;
      top: 167px;
    }
  }

  h2 {
    color: $primary;
  }
}

.slide__content-text {
  background-color: $white;
  padding: 0 41px 35px;
  border-radius: 0 0 0 30px;

  @media screen and (width < 1439px) {
    max-width: 593px;
    padding: 0 28px 35px 40px;
  }

  @media screen and (width < 767px) {
    padding: 0 14px 15px;
    max-width: 267px;
    border-radius: 0 0 16px 0;
  }

  p {
    font-size: 16px;
    line-height: 26px;
    color: $dark;
    max-width: 446px;

    @media screen and (width < 1439px) {
      line-height: 20px;
      max-width: 285px;
    }

    @media screen and (width < 767px) {
      max-width: 267px;
    }
  }
}

.slide__content-button {
  background-color: $white;
  max-width: fit-content;
  padding-right: 56px;
  padding-bottom: 56px;
  border-radius: 0 0 30px 0;

  @media screen and (width < 1439px) {
    padding-right: 40px;
  }

  @media screen and (width < 767px) {
    padding: 10px 15px;
    border-radius: 0 0 16px 16px;
  }
}

.slide__button {
  height: 58px;

  @media screen and (width < 1439px) {
    height: 56px;
  }

  @media screen and (width < 767px) {
    height: 44px;
  }
}
