.slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}
  
.slides-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
  
.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  min-height: 800px;
  flex-shrink: 0;
  
  @media screen and (width < 1439px) {
    min-height: 1024px;
  }
  
  @media screen and (width < 767px) {
    min-height: 568px;
  }
  
  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: rgba(49, 109, 194, 0.2);
  }
}

.slide--one {
  background-image:
  image-set(
    url("../../img/hero/slide_1-desktop@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_1-desktop@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_1-desktop@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_1-desktop@2x.webp") type("image/webp") 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  
  @media screen and (width < 1439px) {
    background-image:
    image-set(
    url("../../img/hero/slide_1-tablet@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_1-tablet@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_1-tablet@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_1-tablet@2x.webp") type("image/webp") 2x
    );
  }
  
  @media screen and (width < 767px) {
    background-image:
    image-set(
    url("../../img/hero/slide_1-mobile@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_1-mobile@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_1-mobile@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_1-mobile@2x.webp") type("image/webp") 2x
    );
  }
}

.slide--two {
  background-image:
  image-set(
    url("../../img/hero/slide_2-desktop@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_2-desktop@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_2-desktop@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_2-desktop@2x.webp") type("image/webp") 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
   
  @media screen and (width < 1439px) {
    background-image:
    image-set(
    url("../../img/hero/slide_2-tablet@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_2-tablet@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_2-tablet@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_2-tablet@2x.webp") type("image/webp") 2x
    );
  }
    
  @media screen and (width < 767px) {
    background-image:
    image-set(
    url("../../img/hero/slide_2-mobile@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_2-mobile@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_2-mobile@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_2-mobile@2x.webp") type("image/webp") 2x
    );
  }
}

.slide--three {
  background-image:
  image-set(
    url("../../img/hero/slide_3-desktop@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_3-desktop@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_3-desktop@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_3-desktop@2x.webp") type("image/webp") 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
     
  @media screen and (width < 1439px) {
    background-image:
    image-set(
    url("../../img/hero/slide_3-tablet@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_3-tablet@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_3-tablet@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_3-tablet@2x.webp") type("image/webp") 2x
    );
  }
      
  @media screen and (width < 767px) {
    background-image:
    image-set(
    url("../../img/hero/slide_3-mobile@1x.png") type("image/png") 1x,
    url("../../img/hero/slide_3-mobile@2x.png") type("image/png") 2x,
    url("../../img/hero/slide_3-mobile@1x.webp") type("image/webp") 1x,
    url("../../img/hero/slide_3-mobile@2x.webp") type("image/webp") 2x
    );
  }
}

.slide__content {
  margin-left: 100px; 
  display: flex;
    
  @media screen and (width < 1439px) {
    margin-left: 45px;
  }
  
  @media screen and (width < 767px) {
    margin-left: 15px;
    flex-direction: column;
  }
}
  
.slider__pagination {
  position: absolute;
  z-index: 3;
  background-color: $white;
  width: 120px;
  height: 40px;
  bottom: 366px;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
  left: 100px;
  
  @media screen and (width < 1439px) {
    width: 100px;
    bottom: 332px;
    left: 45px;
  }
  
  @media screen and (width < 767px) {
    width: 80px;
    height: 28px;
    border-radius: 12px 12px 0 0;
    left: 15px;
  }
  
  &::before {
    content: "";
    position: absolute;
      width: 20px;
      height: 20px;
      background-image: url("../../img/sprite/angle-1.svg");
    top: 20px;
    left: 120px;
  
      @media screen and (width < 1439px) {
    left: 99px;
   }    
  
   @media screen and (width < 767px) {
    background-image: url("../../img/sprite/angle-3.svg");
    width: 10px;
    height: 10px;
    top: 18px;
    left: 79px;
    }  
  }
}
  
.slider__pagination-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid $primary;
  cursor: pointer;
  position: relative;
  
  @media screen and (width < 767px) {
    width: 8px;
    height: 8px;
  }  
}
  
.slider__pagination-bullet--selected {
  background-color: $primary;
}
  
.slide__content-heading {
  display: flex;
  justify-content: space-between;
  position: absolute;
  max-width: 968px;
  bottom: 173px;
  background-color: $white;
  padding: 40px 50px 30px;
  border-radius: 0 30px 30px 0;
  
  @media screen and (width < 1439px) {
    padding: 30px 69px 24px 40px;
    max-width: 659px;
    bottom: 192px;
  }
  
  @media screen and (width < 767px) {
    padding: 20px 15px 16px 14px;
    max-width: 290px;
    bottom: 193px;
    border-radius: 0 16px 16px 0;
  }
  
  h2 {
    color: $primary;
  }
}
  
.slide__content-text {
  display: flex;
  justify-content: space-between;
  position: absolute;
  max-width: 775px;
  bottom: 61px;
  background-color: $white;
  padding: 0 41px 35px;
  border-radius: 0 0 0 30px;
  
  @media screen and (width < 1439px) {
    max-width: 593px;
    padding: 0 28px 35px 40px;
  }
  
  @media screen and (width < 767px) {
    flex-direction: column;
    padding: 0 14px 15px;
    max-width: 267px;
    border-radius: 0 0 16px 0;
    bottom: 79px;
  }
    
  p {
    font-size: 16px;
    line-height: 26px;
    color: $dark;
    max-width: 446px;
  
    @media screen and (width < 1439px) {
      line-height: 20px;
      max-width: 285px;
    }
  
    @media screen and (width < 767px) {
      max-width: 267px;
    }
  }
  
  &::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url("../../img/sprite/angle-2.svg");
    top: 0;
    left: 776px;
  
    @media screen and (width < 1439px) {
      left: 591px;
      top: 4px;
    }
  
    @media screen and (width < 767px) {
      left: 591px;
      top: 0;
      background-image: url("../../img/sprite/angle-4.svg");
      width: 8px;
      height: 10px;
      left: 267px;
    }
  }
}
  
.slide__content-button {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  position: absolute;
  max-width: 249px;
  bottom: 61px;
  left: 627px;
  height: 113px;
  padding-right: 56px;
  border-radius: 0 0 30px 0;
  z-index: 3;
  
  @media screen and (width < 1439px) {
    left: 398px;
    padding-right: 40px;
    height: 131px;
  }
  
  @media screen and (width < 767px) {
    padding: 10px 15px;
    height: 64px;
    max-width: 194px;
    bottom: 16px;
    border-radius: 0 0 16px 16px;
    left: 15px;
  
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-image: url("../../img/sprite/angle-5.svg");
      top: 0;
      left: 191px;
    }
  }
}
  
.slide__button {
  height: 58px;
 
  @media screen and (width < 1439px) {
    height: 56px;
  }
 
  @media screen and (width < 767px) {
    height: 44px;
  }
}