$dark: #484848;
$white: #ffffff;
$white03: #ffffff4d;
$white06: #ffffff99;
$white07: #ffffffb3;
$white09: #ffffffe6;
$beige: #f0efe9;
$beige08: #f0efe9cc;
$grey: #a9afb7;
$grey04: #0d1d3366;
$primary: #316dc2;
$primary07: #316dc2b3;
$primary02: #316dc233;
$dark-blue: #275699;
$error: #ff5e66;
