@import "vendor/normalize";
@import "common/mixins";
@import "common/fonts";
@import "common/variables";

@import "blocks/hero";
@import "blocks/about";
@import "blocks/programs";
@import "blocks/grant";
@import "blocks/faq";
@import "blocks/reviews";
@import "blocks/contacts";
@import "blocks/form";
@import "blocks/footer";
@import "blocks/slider";
@import "blocks/program-card";


body {
  font-family: "Manrope", "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: $beige;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h2 {
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;

  @media screen and (width < 1439px) {
    font-size: 36px;
    line-height: 44px;
  }

  @media screen and (width < 767px) {
    font-size: 22px;
    line-height: 26px;
  }
}

h3 {
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;

  @media screen and (width < 1439px) {
    font-size: 34px;
    line-height: 50px;
  }

  @media screen and (width < 767px) {
    font-size: 20px;
    line-height: 20px;
  }
}

h4 {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;

  @media screen and (width < 1439px) {
    font-size: 28px;
    line-height: 28px;
  }

  @media screen and (width < 767px) {
    font-size: 18px;
    line-height: 22px;
  }
}

h5 {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  @media screen and (width < 1439px) {
    font-size: 22px;
    line-height: 26px;
  }

  @media screen and (width < 767px) {
    font-size: 16px;
    line-height: 18px;
  }
}

h6 {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.26px;

  @media screen and (width < 1439px) {
    font-size: 20px;
    line-height: 22px;
  }

  @media screen and (width < 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

h7 {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;

  @media screen and (width < 1439px) {
    font-size: 20px;
    line-height: 24px;
  }

  @media screen and (width < 767px) {
    font-size: 16px;
    line-height: 18px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1px 0;

  @media screen and (width < 1439px) {
    max-width: 678px;
  }

  @media screen and (width < 767px) {
    max-width: 290px;
  }
}

.phone-number,
.e-mail {
  color: $white;
  font-size: 16px;
  line-height: 17px;

  @media screen and (width < 1439px) {
    line-height: 20px;
  }

  @media screen and (width < 767px) {
    font-size: 14px;
  }
}

.button {
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 500;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  padding: 22px 80px 22px 30px;
  position: relative;

  @media screen and (width < 767px) {
    font-size: 12px;
    line-height: 12px;
    padding: 16px 55px 16px 21px;
  }

  &--light {
  color: $primary;
  border: 1px solid $primary;

  &::before {
    content: "";
    position: absolute;
    background-color: $primary;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    right: 4px;

    @media screen and (width < 767px) {
      width: 34px;
      height: 34px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url('../../img/button/white.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    right: 22px;
    transform: rotate(-45deg);

    @media screen and (width < 767px) {
      right: 15px;
    }
  }

    &:hover {
      background-color: $primary;
      color: $white;

        &::before {
          content: "";
          position: absolute;
          background-color: $white;
          border-radius: 50%;
          width: 46px;
          height: 46px;
          right: 4px;

          @media screen and (width < 767px) {
            width: 34px;
            height: 34px;
          }
        }

        &::after {
          content: "";
          position: absolute;
          background-image: url('../../img/button/primary.svg');
          background-repeat: no-repeat;
          width: 10px;
          height: 10px;
          transform: none;
        }
    }

    &:focus {
      background-color: transparent;
      color: $primary;
      border: 1px solid $primary;

      &::before {
        content: "";
        position: absolute;
        background-color: $primary;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        right: 4px;

        @media screen and (width < 767px) {
          width: 34px;
          height: 34px;
        }
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url('../../img/button/white.svg');
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        transform: none;
      }
    }

    &:active {
      background-color: $primary;
      color: $white06;

        &::before {
          content: "";
          position: absolute;
          background-color: $white;
          border-radius: 50%;
          width: 46px;
          height: 46px;
          right: 4px;

          @media screen and (width < 767px) {
            width: 34px;
            height: 34px;
          }
        }

        &::after {
          content: "";
          position: absolute;
          background-image: url('../../img/button/primary07.svg');
          background-repeat: no-repeat;
          width: 10px;
          height: 10px;
          transform: none;
        }
    }

    &:disabled {
      background-color: transparent;
      color: $grey;
      border: 1px solid $grey;

      &::before {
        content: "";
        position: absolute;
        background-color: $grey;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        right: 4px;
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url('../../img/button/white06.svg');
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        right: 22px;
        transform: rotate(-45deg);
      }
    }
  }

  &--blue {
  color: $white;
  border: 1px solid $white;

  &::before {
    content: "";
    position: absolute;
    background-color: $white;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    right: 4px;

    @media screen and (width < 767px) {
      width: 34px;
      height: 34px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url('../../img/button/primary.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    right: 22px;
    transform: rotate(-45deg);

    @media screen and (width < 767px) {
      right: 16px;
    }
  }

    &:hover {
      background-color: $white;
      color: $primary;

      &::before {
        content: "";
        position: absolute;
        background-color: $primary;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        right: 4px;
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url('../../img/button/white.svg');
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        right: 22px;
        transform: none;
      }
    }

    &:focus {
      background-color: transparent;
      color: $white;
      border: 1px solid $white;

      &::before {
        content: "";
        position: absolute;
        background-color: $white;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        right: 4px;
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url('../../img/button/primary.svg');
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        right: 22px;
        transform: none;
      }
    }

    &:active {
      background-color: $white;

      & span {
        color: $primary;
        opacity: 0.6;
      }

      &::before {
        content: "";
        position: absolute;
        background-color: $primary;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        right: 4px;
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url('../../img/button/white06.svg');
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        right: 22px;
        transform: none;
      }
    }

    &:disabled {
      background-color: transparent;
      color: $grey;
      border: 1px solid $grey;

      &::before {
        content: "";
        position: absolute;
        background-color: $grey;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        right: 4px;
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url('../../img/button/white06.svg');
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        right: 22px;
        transform: rotate(-45deg);
      }
    }
  }

  & span {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;

    @media screen and (width < 767px) {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.24px;
    }
  }

  &--notext {
    background-color: $white;
    border-radius: 0 12px 12px 0;
    padding: 22px 52px 22px 30px;

    &::before {
      content: "";
      position: absolute;
      background-color: #316dc2;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url(../../img/button/white.svg);
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
      transform: rotate(-45deg);
      left: 50%;
    }
  }
}

.swiper-buttons {
  display: flex;
  cursor: pointer;
  gap: 10px;

  @media (width < 767px) {
    gap: 8px;
  }
}

.swiper-buttons__button {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  border-radius: 50px;

  svg {
    fill: $primary;
  }

  &:hover {
    svg {
      stroke: $primary02;
    }
  }

  &:focus {
    background-color: $white;

    svg {
      fill: $primary;
    }
  }
  
  &:active {
    background-color: $white;

    svg {
      stroke: $primary07;
    }
  }

  &:disabled {
    svg {
      fill: $grey;
    }
  }
}

.swiper-pagination-progressbar.programs__pagination-progressbar {
  width: calc(100% - 104px) !important;
  background-color: $primary02 !important;
  height: 1px !important;
  position: unset !important;
}

.swiper__pagination-progressbar-fill {
  position: absolute;
  height: 2px;
  background-color: $primary;
  border-radius: 2px;
  width: 420px;
  left: 24px;
  top: 0;
  bottom: 0;
}
