@import "vendor/normalize";
@import "common/mixins";
@import "common/fonts";
@import "common/variables";


@import "blocks/about";
@import "blocks/programs";
@import "blocks/grant";
@import "blocks/faq";
@import "blocks/reviews";
@import "blocks/contacts";
@import "blocks/form";
@import "blocks/footer";


body {
  font-family: "Manrope", "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: $beige;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h2 {
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;

  @media screen and (width < 1439px) {
    font-size: 36px;
    line-height: 44px;
  }

  @media screen and (width < 767px) {
    font-size: 22px;
    line-height: 26px;
  }
}

h3 {
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;

  @media screen and (width < 1439px) {
    font-size: 34px;
    line-height: 50px;
  }

  @media screen and (width < 767px) {
    font-size: 20px;
    line-height: 20px;
  }
}

h4 {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;

  @media screen and (width < 1439px) {
    font-size: 28px;
    line-height: 28px;
  }

  @media screen and (width < 767px) {
    font-size: 18px;
    line-height: 22px;
  }
}

h5 {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  @media screen and (width < 1439px) {
    font-size: 22px;
    line-height: 26px;
  }

  @media screen and (width < 767px) {
    font-size: 16px;
    line-height: 18px;
  }
}

h6 {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.26px;

  @media screen and (width < 1439px) {
    font-size: 20px;
    line-height: 22px;
  }

  @media screen and (width < 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

h7 {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;

  @media screen and (width < 1439px) {
    font-size: 20px;
    line-height: 24px;
  }

  @media screen and (width < 767px) {
    font-size: 16px;
    line-height: 18px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1px 0;

  @media screen and (width < 1439px) {
    max-width: 678px;
  }

  @media screen and (width < 767px) {
    max-width: 290px;
  }
}

.phone-number,
.e-mail {
  color: $white;
  font-size: 16px;
  line-height: 17px;

  @media screen and (width < 1439px) {
    line-height: 20px;
  }

  @media screen and (width < 767px) {
    font-size: 14px;
  }
}

.button {
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 500;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  padding: 4px 4px 4px 30px;

  @media screen and (width < 767px) {
    font-size: 12px;
    line-height: 12px;
    padding-left: 20px;
  }

  &--light {
  color: $primary;
  border: 1px solid $primary;

    &:hover {
      background-color: $primary;
      color: $white;
    }

    &:focus {
      background-color: transparent;
      color: $primary;
      border: 1px solid $primary;
    }

    &:active {
      background-color: $primary;

      & span {
        color: $white;
        opacity: 0.6;
      }
    }

    &:disabled {
      background-color: transparent;
      color: $grey;
      border: 1px solid $grey;
    }
  }

  &--blue {
  color: $white;
  border: 1px solid $white;

    &:hover {
      background-color: $white;
      color: $primary;
    }

    &:focus {
      background-color: transparent;
      color: $white;
      border: 1px solid $white;
    }

    &:active {
      background-color: $white;

      & span {
        color: $primary;
        opacity: 0.6;
      }
    }

    &:disabled {
      background-color: transparent;
      color: $grey;
      border: 1px solid $grey;
    }
  }

  & span {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;

    @media screen and (width < 767px) {
      font-size: 12px;
      line-height: 12px;
    }
  }

  & svg {
    @media screen and (width < 767px) {
      width: 34px;
      height: 34px;
    }
  }
}

.swiper-prevnext {
  display: flex;
  cursor: pointer;
  gap: 10px;
}

.swiper-prevnext__button {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  border-radius: 50px;

  svg {
    fill: $primary;
  }

  &:hover {
    svg {
      fill: $primary02;
    }
  }
  &:focus {
    background-color: $white;
    
    svg {
      fill: $primary;
    }
  }
  &:active {
    background-color: $white;
    
    svg {
      fill: $primary07;
    }
  }
  &:disabled {
    svg {
      fill: $primary07;
    }
  }  
}

.swiper__pagination.swiper__pagination-progressbar {
  width: calc(100% - 104px);
  background-color: $primary02;
  height: 1px;
  margin-top: 12px;
}
  
.swiper__pagination.swiper__pagination-progressbar
.swiper__pagination-progressbar-fill {
  position: absolute;
  height: 2px;
  background-color: $primary;
  border-radius: 2px;
  width: 420px;
  left: 24px;
}